set GHDB_ADVISORIES_AND_VULNERABILITIES True
set GHDB_ERROR_MESSAGES True
set GHDB_FILES_CONTAINING_JUICY_INFO True
set GHDB_FILES_CONTAINING_PASSWORDS True
set GHDB_FILES_CONTAINING_USERNAMES True
set GHDB_FOOTHOLDS True
set GHDB_NETWORK_OR_VULNERABILITY_DATA True
set GHDB_PAGES_CONTAINING_LOGIN_PORTALS True
set GHDB_SENSITIVE_DIRECTORIES True
set GHDB_SENSITIVE_ONLINE_SHOPPING_INFO True
set GHDB_VARIOUS_ONLINE_DEVICES True
set GHDB_VULNERABLE_FILES True
set GHDB_VULNERABLE_SERVERS True
set GHDB_WEB_SERVER_DETECTION True
