[Unit]
Description=gophish
After=network.target
[Service]
Type=simple
WorkingDirectory=/home/{{ gophish_user }}/gophish/
ExecStart="/home/{{ gophish_user }}/gophish/gophish"
User={{ gophish_user }}
PIDFile="/home/{{ gophish_user }}/gophish/gophish.pid"
[Install]
WantedBy=multi-user.target
