#!/bin/bash

cd /home/{{ gophish_user }}/gophish/
./gophish &
sleep 30
python2 -c "import bcrypt; print(bcrypt.hashpw('{{ gophish_pass }}', bcrypt.gensalt(10)))" > /home/{{ gophish_user }}/password_enc
sqlite3 /home/{{ gophish_user }}/gophish/gophish.db "update users set hash=\"$(cat /home/{{ gophish_user }}/password_enc)\" where username='admin';"
